*~
Aulas.pdf
2013/emails.txt
2013/additional_material/lecture4/example_*

# sheet 2
exercises/sheet2/solutions/Ander_Filip_Alberto/*.pdf
exercises/sheet2/solutions/Ander_Filip_Alberto/*.zip
exercises/sheet2/solutions/Ander_Filip_Alberto/*.m
exercises/sheet2/solutions/Victor_Ruiz/*pdf
exercises/sheet2/solutions/Diego_Acedo_and_Xavier_Gombau/*pdf
exercises/sheet2/solutions/marta*/*pdf
exercises/sheet2/solutions/marta*/*py

# code
Makefile
build.x86_64
configure.pl.template
include
polymake.ext

# c++ ignores

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# latex ignores
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
